<div id="ai_detail">
	Name: {{name}}
	<br>
	Record: {{wins}} - {{losses}}
	<br>
	<div id="play_div">
		<a href="/aitest?ai={{aiHash}}">Play this AI</a>
	</div>
	<br>
	Match History:
	<ul>
		{{#each games}}
			<li>{{this}}</a></li>
		{{/each}}
	</ul>
</div>