<div id="controls">
</div>
<div id="content">
<ul style="list-style-type: none;text-align: left">
	{{#each log}}
		<li class="{{channel}}">[{{channel}}] [{{level}}] [{{timestamp}}] {{msg}} [{{gameId}}]</li>
	{{/each}}
</ul>
</div>