<div id="ai_detail">
	Name: {{name}}
	<br>
	Record: {{wins}} - {{losses}}
	<br>
	Rating: {{eloRating}}
	<br>
	Avg time spent per move: {{avgTime}} ms
	<br>
	<div id="play_div">
		<a href="/playai?ai={{aiHash}}">Play this AI</a>
	</div>
	<br>
	Match History:
	<table style="width:100%; margin: auto;">
		{{#each games}}
			<tr>
				<td>{{dateString}}</td>
				<td>{{eloGameRating}}</td>
				<td>{{result}}</td>
				<td>{{opponents}}</td>
			</tr>
		{{/each}}
	</table>
</div>