<div id="instructions">
		Your code has passed the basic checks but it <b>hasn't been submitted yet</b>. First you have a chance to test your code. When you're ready, hit this button to upload your code:
	<br>
	<form action="submission/{{ai_hash}}" method="get">
		<input type="submit">
	</form>
	<br>
	Your AI will run as Player 1 in a 2-player game. You will be player 1. You can navigate to your AI code in your browser's developer tools. Go to the 'Sources' tab and look for the file 
	<br>
	<br>
	{{ai_path}}.js
	<br>
	<br>
	You can set breakpoints in that file.
	<br>
</div>

<div id="codepath" style="display: none">
	Your code is in: {{ai_path}}
</div>

{{>game}}


<script>
	$(function() {
		Game.init("testAI", "human, {{ai_hash}}", "{{ai_hash}}", true);
	});
</script>




